.menuBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 2vh;
    margin-top: -3vh;
    z-index: 200;
    width: 6vh;
    height: 6vh;
    justify-content: space-around;
    cursor: pointer;
}

.menuBtn div {
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    height: 9%;
    background: white;
    border-radius: 1px;
}


.menuBtn div:nth-child(1) {
    transform-origin: left center;
}

.menuBtn div:nth-child(2) {
    transform-origin: left center;
}

.menuBtn div:nth-child(3) {
    transform-origin: left center;
}

.menuBtn.open div:nth-child(1) {
    transform: rotate(45deg);

}

.menuBtn.open div:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.menuBtn.open div:nth-child(3) {
    transform: rotate(-45deg);
}