.menuBtn {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 10px;
    margin-top: -12.5px;
    z-index: 200;
    width: 25px;
    height: 25px;
    justify-content: space-around;
    cursor: pointer;
}

.menuBtn div {
    position: relative;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
    height: 9%;
    background: white;
    border-radius: 1px;
}


.menuBtn div:nth-child(1) {
    transform-origin: left center;
}

.menuBtn div:nth-child(2) {
    transform-origin: left center;
}

.menuBtn div:nth-child(3) {
    transform-origin: left center;
}


.menuBtn.open div:nth-child(1) {
    top: -4%;
    transform: rotate(45deg)
}

.menuBtn.open div:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.menuBtn.open div:nth-child(3) {
    left: 1%;
    transform: rotate(-45deg)
}