html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.logo {
    height: 80%;
}

.mainHeader {
    position: relative;
    display: flex;
    background: #1f1f1f;
    height: 45px;
    align-items: center;
    padding: 0 45px;
}

.mainHeader ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
    margin-left: auto;
}

.mainHeader ul li {
    margin-left: 1rem;
}

.mainHeader a {
    font-size: 1.6rem;
    color: white;
    text-decoration: none;
}

.mainHeader a:hover,
.mainHeader a:active {
    color: #949494;
}