@import '../node_modules/modern-normalize/modern-normalize.css';

html {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.App {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}